---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Center from "../components/Center.astro";
import { meetups } from "../data/meta";

const [_current, ...previousMeetups] = meetups;
---

<style>
    .meetup-list {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        margin: 0 var(--space-6x);
    }

    .meetup {
        flex: 1 0 280px;
        max-width: 280px;
    }

    @media (min-width: 768px) {
        .meetup-list {
            margin: 0 var(--space-8x);
        }
    }
</style>

<Layout title="Main">
    <Header
        hero="Previous Meetups"
        description="These meetups already happened. Their recordings are available on YouTube."
    />
    <div class="meetup-list">
        {
            previousMeetups.map((meetup) => (
                <div class="meetup">
                    <h2>{meetup.title}</h2>
                    <a href={meetup.video} target="_blank">
                        <img
                            src={meetup.image}
                            alt="Micro Frontends Meetup Teaser Image"
                        />
                    </a>
                    <p>🕹 Aired on {meetup.date}.</p>
                    <p>
                        📢 Announcement at{" "}
                        <a href={meetup.url} target="_blank">
                            meetup.com
                        </a>
                        .
                    </p>
                </div>
            ))
        }
    </div>
    {previousMeetups.length === 0 && <Center>No previous meetups.</Center>}
</Layout>
